@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    display: grid;
    grid-template-areas: 
    "header nav nav"
    "cookie opcoes compras"
    'footer footer footer'
    ;
    grid-template-rows: 
    10% 80% 10%
    ;
    grid-template-columns: 
    35% 30% 35%
    ;
}
header{
    background-color: darkgreen;
    color: white;
    grid-area: header;
    font-size: 2.5em;
}
nav{
    background-color: darkgreen;
    color: white;
    grid-area: nav;
    text-align: center;
}
a{
    background-color: rgb(1, 206, 1);
    color: white;
    border: 3px solid rgb(1, 80, 1);
    font-size: 1.5em;
    margin: 1vw;
}
footer{
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}
section{
    border: 2px solid darkgreen;
}
p{
    margin-left: 1vw;
}
#cookie{
    grid-area: cookie;
    background-color: yellow;
}
#opcoes{
    grid-area: opcoes;
    background-color: yellow;
}
#compras{
    grid-area: compras;
    background-color: yellow;
}
#imagem{
    width: 30vw;
    height: 30vw;
    border-radius: 15px;
    margin-top: 1vh;
    margin-left: 1vw;

}
#imagem:hover{
    animation: meme 0.1s;
    animation-fill-mode: forwards;
}
#upgrades{
    margin: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
#auto{
    display: grid;
    grid-template-areas: 
    "cp clp"
    ;
}
.double{
    padding: 5vw;
    margin-left: 1vw;
    background-size: cover;
    background-position: center;
}
.preco{
    padding: 5vw;
    margin-left: 1vw;
    background-color: white;
    background-size: cover;
    background-position: center;
}
#clp{
    grid-area: clp;
    padding: 0%;
}
#clickerp{
    grid-area: cp;
    background-image: url(imagens/click\ preço.jpeg);
    background-position: left;
}
#clicker{
    background-image: url(imagens/click\ preço.jpeg);
    background-position: left;
}
#juliet{
    background-image: url(imagens/juliet\ preço.jpeg);
}
#coxinha{
    background-image: url(imagens/coxinha\ preço.jpeg);
}
#conto{
    background-image: url(imagens/200\ conto.webp);
    background-position: left;
}
#op, #renascer{
    background-color: rgb(50, 50, 211);
    color: white;
    text-align: center;
    padding: 1vw;
}
#renascer{
    margin: 1vh;
}
#imagem:hover, #renascer:hover, .double:hover{
    cursor: pointer;
}
@keyframes meme{
    from{
        width: 30vw;
    }
    to{
        width: 25vw;
        margin-left: 3vw;
    }
}
@media screen and (min-width:320px) and (max-width:479px){
    header{
        font-size: 1.5em;
    }
    a{
        font-size: 1em;
    }
}
@media screen and (min-width:100px) and (max-width:320px){
    header{
        font-size: 1.3em;
    }
    a{
        font-size: 1em;
    }
}